:root {
    --background: #F7F9FB;
    --text: #353238;
    --grey: #d6d6d6;
    --accent: #0F5741;
    --accent-light: #188C67;
    --accent-light-2: #82afa1;
    --tag-indigo: #283593;
    --tag-purple: #6A1B9A;
    --tag-teal: #00695C;
    --tag-pink: #AD1457;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

.board {
    margin: 5vw;
    width: 90vw;
    max-width: 500px;
}

.board__title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 30px;
}

.board__description {
    font-style: italic;
    margin-bottom: 50px;
}

.board__messages-container {
    margin-top: 25px;
}

.board__message {
    border: 1px solid var(--accent);
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 1px 1px var(--accent-light);
}

.board__new-message-container {
    display: flex;
    flex-direction: column;
}

.board__new-message-input {
    border: 1px solid var(--accent);
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 1px 1px var(--accent-light);
}

.board__new-message-input:disabled {
    border-color: var(--grey);
    box-shadow: none;
}

.board__submit-message-bt {
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 5px;
    border: var(--accent) 1px solid;
    color: var(--background);
    box-shadow: 1px 1px var(--accent-light);
    background: var(--accent-light);
    cursor: pointer;
}

.board__submit-message-bt:disabled {
    cursor: not-allowed;
    background: var(--accent-light-2);
    box-shadow: none;
    border-color: var(--grey);
}

.board__error-message-container {
    color: var(--tag-pink);
}
